<div class="forgot-password-container">
  <div class="forgot-password-card">
    <h3 class="forgot-password-title">Forgot Password</h3>
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="sendResetLink()">
      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="email"
          class="form-control"
          id="email"
          formControlName="email"
        />
        <div
          *ngIf="submitted && forgotPasswordForm.get('email').errors"
          class="error-message"
        >
          <span *ngIf="forgotPasswordForm.get('email').hasError('required')"
            >Email is required.</span
          >
          <span *ngIf="forgotPasswordForm.get('email').hasError('email')"
            >Invalid email format.</span
          >
        </div>
      </div>
      <button
        type="submit"
        class="btn-send-link"
        [disabled]="forgotPasswordForm.invalid"
      >
        Send Reset Link
      </button>
    </form>
    <a routerLink="/login" class="btn-back-to-login">Back to Login</a>
    <a routerLink="/register" class="btn-back-to-login">Register</a>
  </div>
</div>
