<div class="register-container">
  <div class="register-card">
    <h3 class="register-title">Register</h3>
    <form [formGroup]="registerForm" (ngSubmit)="registerUser()">
      <div class="form-group">
        <label for="name">Name</label>
        <input
          type="text"
          class="form-control"
          id="name"
          formControlName="name"
        />
        <div
          *ngIf="submitted && registerForm.get('name')?.errors"
          class="error-message"
        >
          <span *ngIf="registerForm.get('name')?.hasError('required')"
            >Name is required.</span
          >
        </div>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="email"
          class="form-control"
          id="email"
          formControlName="email"
        />
        <div
          *ngIf="submitted && registerForm.get('email')?.errors"
          class="error-message"
        >
          <span *ngIf="registerForm.get('email')?.hasError('required')"
            >Email is required.</span
          >
          <span *ngIf="registerForm.get('email')?.hasError('email')"
            >Invalid email format.</span
          >
        </div>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          class="form-control"
          id="password"
          formControlName="password"
        />
        <div
          *ngIf="submitted && registerForm.get('password')?.errors"
          class="error-message"
        >
          <span *ngIf="registerForm.get('password')?.hasError('required')"
            >Password is required.</span
          >
          <span *ngIf="registerForm.get('password')?.hasError('minlength')"
            >Password must be at least 6 characters long.</span
          >
        </div>
      </div>
      <div class="form-group">
        <label for="confirmPassword">Confirm Password</label>
        <input
          type="password"
          class="form-control"
          id="confirmPassword"
          formControlName="confirmPassword"
        />
        <div
          *ngIf="submitted && registerForm.get('confirmPassword')?.errors"
          class="error-message"
        >
          <span
            *ngIf="registerForm.get('confirmPassword')?.hasError('required')"
            >Confirm Password is required.</span
          >
          <span
            *ngIf="
              registerForm.get('confirmPassword')?.hasError('passwordMismatch')
            "
            >Passwords do not match.</span
          >
        </div>
      </div>
      <button type="submit" class="btn-register">Register</button>
    </form>
    <br />
    <a routerLink="/login" class="btn-back-to-login">Back to Login</a>
  </div>
</div>
