.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 60px);

  .register-card {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 300px;

    .register-title {
      text-align: center;
      font-family: "Roboto", sans-serif;
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 20px;
    }

    .form-group {
      margin-bottom: 20px;

      .error-message {
        color: red;
        font-size: 12px;
        margin-top: 5px;
      }

      label {
        font-size: 14px;
        font-weight: 700;
      }

      .form-control {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
      }
    }

    .btn-register {
      width: 100%;
      padding: 10px;
      background-color: #4caf50;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;

      &:hover {
        background-color: #45a049;
      }
    }
  }
}
