<div class="login-container">
  <div class="login-card">
    <h3 class="login-title">Login</h3>
    <form [formGroup]="loginForm" (ngSubmit)="loginUser()">
      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="email"
          class="form-control"
          id="email"
          formControlName="email"
        />
        <div
          *ngIf="submitted && loginForm.get('email').errors"
          class="error-message"
        >
          <span *ngIf="loginForm.get('email').hasError('required')"
            >Email is required.</span
          >
          <span *ngIf="loginForm.get('email').hasError('email')"
            >Invalid email format.</span
          >
        </div>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          class="form-control"
          id="password"
          formControlName="password"
        />
        <div
          *ngIf="submitted && loginForm.get('password').errors"
          class="error-message"
        >
          <span *ngIf="loginForm.get('password').hasError('required')"
            >Password is required.</span
          >
        </div>
      </div>
      <button type="submit" class="btn-login">Login</button>
      <br />
      <br />
      <a routerLink="/forgot-password" class="forgot-password-link"
        >Forgot Password?</a
      >
      <br />
      <br />
      <a routerLink="/register" class="forgot-password-link">Register</a>
    </form>
  </div>
</div>
